<div class="mt-5 mb-5 text-center">
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactModal">Let's Connect!</button>
</div>

<div class="modal fade" id="contactModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <small class="text-muted">Call or send me a message and I'll get back to you as soon as possible. Share only what you are comfortable with and please remember that email is not considered a secure or confidential method of communication.</small>
        </div>

        <div class="mb-1"><strong>Phone</strong></div>
        <div class="mb-3 font-lg">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
          </svg>
          <a href="tel:431-631-0118">(431) 631-0118</a>
        </div>

        <div class="mb-1"><strong>Email</strong></div>
        <div class="mb-3 font-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-envelope mr-1 mb-1" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
          </svg>
          <a href="https://www.psychologytoday.com/ca/therapists/tenley-wiens-winnipeg-mb/806268" target="_blank" class="external-link">Contact me on Psychology Today</a>
        </div>
      </div>
    </div>
  </div>
</div>
