@import  "variables";
@import  "bootstrap/scss/bootstrap";

.under-construction {
  background: '#eee';

  .content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

h1 {
  color: $gray-600;
  border-bottom: 1px solid $gray-300;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: lowercase;
}

.font-lg {
  font-size: $font-size-lg;
}

.flex-1 {
  flex: 1;
}

.banner-img {
  width: 100%;
  max-width: 500px;
}

.bio-pic img {
  width: 160px;
}

@include media-breakpoint-up(sm) {
  .bio-pic img {
    width: 175px;
  }
}
